<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OceanCare</title>
  <link rel="stylesheet" href="/landing.css">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="logo"><img src="/gambar/oceancare.png" alt="logo"></div>
    <nav class="navigation">
      <a href="/auth/login"><i class="fas fa-users"></i> Community</a>
      <a href="/auth/login"><i class="fas fa-map"></i> Map</a>
      <a href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      <a href="/auth/register">Register</a>
    </nav>
  </header>

 
  <section class="hero">
    <div class="hero-image">
    <img src="/gambar/hero-ocean.jpg" alt=""> 
    </div>
    <div class="hero-text">
      <h1>OceanCare: Platform Pemantauan dan Edukasi Kelautan</h1>
      <div class="website-description">
        <p>Selamat datang di OceanCare, platform inovatif yang didedikasikan untuk:</p>
        <ul>
          <li><i class="fas fa-chart-line"></i> Pemantauan kondisi laut secara real-time</li>
          <li><i class="fas fa-book-reader"></i> Edukasi tentang ekosistem kelautan</li>
          <li><i class="fas fa-users"></i> Komunitas peduli laut Indonesia</li>
          <li><i class="fas fa-map-marked-alt"></i> Pemetaan wilayah kelautan</li>
        </ul>
      </div>
    </div>
  </section>

 
  <section class="featured-ecosystems">
    <h2>Featured OceanCare</h2>
    <div class="ecosystem-grid">
        <div class="ecosystem-item">
            <img src="/gambar/coralreefs.jpg" alt="Coral Reefs">
            Coral Reefs
        </div>
        <div class="ecosystem-item">
            <img src="/gambar/mangroves.jpg" alt="Mangroves">
            Mangroves
        </div>
       
        
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>